@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,100;1,200&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
   
    font-size:62.5%;
}
html,body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.4;
}
header{
    background-color: #0089B7;
    position: sticky;
}
.container{
    margin:0 auto;
    max-width: 100%;

    color:white;
    }
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   
} 
nav ul{
    list-style-type: none;
    display:flex;
    
    gap:20px;
} 
nav li{
    font-size: 1.8rem ;
}  
nav a{
    text-decoration: none;
     color:white;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
}

nav ul li:hover{
    border-bottom: 2px solid yellow;
}

.hero{
    background-color: #003D62;
    display:flex;
    color:white;
    padding:4rem 0;
    justify-content: space-around;
    align-items: center;
    border-bottom:4px solid #0089B7;
}
.hero_content{
    display:grid;
    place-items: center;
}
.hero_content h1{
    font-size: 3rem;
    font-weight: bold;
}
.hi{
    font-size: 6rem;
    font-weight: bold;
    color:yellow;
}
.name{
    font-size: 5rem;
} 
.hero_content h2{
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.25rem solid orange;
    white-space: nowrap;
    margin:0 auto;
    animation:typing 5s steps(40,end),blink-caret 0.75s step-end infinite;
}
@keyframes typing{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
@keyframes blink-caret{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: orange;
    }

}
/* project section */

#project{
    background-color: rgb(2, 22, 56);

    
}
#project h2{
    font-size: 6rem;
    text-align:center;
    padding:2rem 0;
    color:white;
}
.project_container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap:6rem;
    
}
.grid_item{
  display:grid;
  place-items: center;
}
.card{
    width:320px;
    border-radius: 0.8rem;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    transition:0.3s ease-in-out;
}
.card:hover{
    transform:scale(1.05);
    transition:1s ease-in-out;
}
.card:hover img{
    transform:scale(1.05);
    transition:0.3s ease-in-out;
    opacity:0.8;
}
.card_content{
    padding:2rem;
    position:relative;
    top:-6.5rem;
    margin-bottom: -6.5rem; 
    transform:translateY(110px);
}
.card:hover .card_content{
    background-color: white;
   
    transform:translateY(0);
    transition:0.3s ease-in-out;
}
.card_content{
   
    padding:2rem;
    font-size: 3rem;
    color:#003D62;
}
.card_content h3{
    text-align: center;
}
/* contact section */
#contact{
    background: #003D62;
}
#contact h2{
    font-size: 6rem;
    text-align: center;
    margin:2rem 0;
}
#contact .container{
    height:90vh;
    display:flex;
    gap:4rem;
    flex-direction:column;
    justify-content: center;
}
.top_contact{
    max-width: 800px;
    display:grid;
    margin:0 auto;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
}
.contact_way{
    display:flex;
    gap:1rem;
    align-items: center;
}
.contact_way h3{
    font-size: 3rem;
    font-weight: bold;
}
.contact_way i{
    font-size: 3rem;
}
.bottom_contact{
    max-width: 800px;
    gap:2rem;
    display:grid;
    margin:0 auto;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));

}
footer{
    background-color:#0089B7;
    padding:2rem;
    color:white;
    text-align: center;
    font-size: 2rem;
}
@medi (max-width:786px){
    html{
        font-size:42%;
    }
    #hero .container{
        flex-direction:column;
    }
    .hero_image{
        display:grid;
        place-items:center;
    }
    #contact .container{
        height:70vh;
    }
    
}
@medi (max-width:500px){
    html{
        font-size:32%;
    }
    #hero .container{
        flex-direction:column;
    }
    .hero_image{
        display:grid;
        place-items:center;
    }
    #contact .container{
        height:50vh;
    }
}