*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Roboto' sans-serif;
    line-height: 1.4;
    scroll-behavior: smooth;
}
nav{
    display:flex;
    width:100%px;
    justify-content: space-between;
    padding:10px;
    
    
}
.youtube img{
    width:150px;
    height:auto;

}
.middletag{
    display:flex;
    justify-content: space-between;
}
.search{
    display:flex;
}
.search input{
    min-width: 600px;
    padding:10px 20px;
    border:0.5px solid #ccc;
    
    
}
.search button{
    padding:10px;
    border:none;
}
.mic{
    padding:15px;
    border-radius: 50%;
    background-color: rgb(229, 229, 229);
    display:grid;
    place-items: center;
    margin-left: 15px;
}
.mic img{
    width:30px;
}
.logos{
    margin-right: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
 
    
}
.tags{
    display:flex;
    padding:10px 20px;
    gap:15px;
    border-top: 1px solid #ccc;
}
.tag{
    padding:5px 15px;
    border-radius: 20px;
    border:1px solid rgb(22,22,22);
}
.dark{
    background:#000;
    color:white;
}
.light{
    background-color: rgb(235, 235, 235);
}
aside{
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.container{
    display:flex;
}
.asideicon{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.asideicon img{
    width:30px;
}
.main-content{
    width:100%;
}
.asideicon p{
    font-size: 10px;
    margin-top: -5px;
} 
.bar{
    margin-top: 20px;
}
main{
    min-height: 100vh;
    background-color: rgb(240, 239, 238);
}